@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;  
    
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

nav {
background-color: #dd9292;
background-position: center;
background-repeat: no-repeat;
background-size: 100%;
}

.nav-bar {
background-color:#f7f7f7;
width: 100%;
position: relative;
height: 35px;

}

body {
display: block;
margin: 0;
}

.logo {
 padding: 0;
 text-align: center;
 width: 90%;
 margin: 1em;
}

h2 {
text-align: center;
font-size: 15px;
}

.floral {
width: 50px;
height: 50px;
background-color: transparent;
animation: 1s ease 2s alternate none infinite running floral;
left: 45%;
position: absolute;
}

@keyframes floral {
  0%{}
  25%{}
  50%{}
  75%{}
  100%{}
}

@keyframes floral {
  0%  {
    border-radius:0 0 0 0;
    background:transparent;
    transform:rotate(0deg);
  }
  25%  {
    border-radius:50% 0 0 0;
    background:transparent;
    transform:rotate(45deg);
  }
  50%  {
    border-radius:50% 50% 0 0;
    background:transparent;
    transform:rotate(90deg);
  }
  75%  { 
    border-radius:50% 50% 50% 0;
    background:transparent;
    transform:rotate(135deg);
  }
  100% {  
    border-radius:50%;
    background:transparent;
    transform:rotate(180deg);
  }
}
