@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;  
    
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

nav {
background-color: #dd9292;
background-position: center;
background-size: 100%;
}

.nav-bar {
background-color:#f7f7f7;
width: 100%;
position: relative;
height: 35px;
}

body {
display: block;
margin: 0;
}

.logo {
 padding: 2em;
 text-align: center;
 width: 100%;
 margin: 1em;
}

h2 {
text-align: center;
font-size: 15px;
}

.floral {
width: 50px;
height: 50px;
background-color: transparent;
animation: square-to-circle 2s 1s infinite alternate;  
left: 50%;
position: absolute;
top: 10%;
}

@keyframes floral {
  0%{}
  25%{}
  50%{}
  75%{}
  100%{}
}

 
@-webkit-keyframes square-to-circle {
  0%  {
    border-radius:0 0 0 0;
  }
  25%  {
    border-radius:50% 0 0 0;
  }
  50%  {
    border-radius:50% 50% 0 0;
  }
  75%  {
    border-radius:50% 50% 50% 0;
  }
  100% {
    border-radius:50%;
  }
}

@keyframes square-to-circle {
  0%  {
    border-radius:0 0 0 0;
    background:#fff; 
  }
  25%  {
    border-radius:50% 0 0 0;
    background:#E1E1E1; 
  }
  50%  {
    border-radius:50% 50% 0 0;
    background:#fff;
  }
  75%  { 
    border-radius:50% 50% 50% 0;
    background:#E1E1E1;
  }
  100% {  
    border-radius:50%;
    background:#fff;
  }
}

@keyframes square-to-circle {
  0%  {
    border-radius:0 0 0 0;
    background: #fff;
    transform:rotate(0deg);
  }
  25%  {
    border-radius:50% 0 0 0;
    background:#E1E1E1;
    transform:rotate(45deg);
  }
  50%  {
    border-radius:50% 50% 0 0;
    background:#E1E1E1;
    transform:rotate(90deg);
  }
  75%  { 
    border-radius:50% 50% 50% 0;
    background:#fff;
    transform:rotate(135deg);
  }
  100% {  
    border-radius:50%;
    background:#E1E1E1;
    transform:rotate(180deg);
  }
}



@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}
.logo {
  background: #eaeaed;
  border-radius: 6px;
  height: 150px;
  position: relative;
  min-width: 538px;
}
.stage:hover .logo {
  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}
.stage:active .logo {
  animation-play-state: paused;
}
.ball {
  background: black;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}